.book {
    color: #fff;
    background-color: rgb(62, 104, 106);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    padding: 3px 10px 3px 3px;
    gap: 10px;
}
.book > img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}
.book > p {
    padding-right: 10px;
}