.card-container {
    width: 30%;
    margin-left: 30px;
    padding: 20px;
    border-right: 2px solid #000;
    width: 200px;
}
.card-container > h2 {
    text-align: right;
}
.card-content {
    /* color: #fff; */
    font-size: 1.2rem;
    background-color: rgb(86, 140, 142);
    position: relative;
    padding: 20px;
    border-radius: 20px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.card-content > img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    position: absolute;
    top: -10px;
    left: -10px;   
}
.card-content > p {
    max-width: 20ch;
    font-size: 1.3rem;
}